<HTML>

<HEAD>
</HEAD>

<BODY>
This package provides classes which enable data to be graphically visualized
or to be processed by other means based upon coordinated events (that is, any
MBT component that wishes to observe data and then respond and interact to
changes in that data). A {@link edu.sdsc.mbt.viewers.Viewer} certainly inclues
visual components such as 3D structure viewers, 2D sequence viewers and so on.
But it may also include observers/viewers of data such as a scripting engine,
an annoation module, a collaborative session manager, etc.
</BODY>

</HTML>
